@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('@/assets/avenir.ttf') format('truetype');
  font-style: normal;
}

:root {
  --accent-primary: lightseagreen;
  --accent-hover: lightseagreen;
  --light: #F0F0F0;
  --dark: #2C3E50;
}

:root {
  --text-color: var(--dark);
  --bg-color: var(--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light);
    --bg-color: var(--dark);
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.jp {
  font-family: 'BIZ UDPGothic';
}