@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');

@font-face {
  font-family: 'Avenir';
  src: url('@/assets/avenir.ttf') format('truetype');
  font-style: normal;
}

:root {
  --accent-primary: lightseagreen;
  --accent-hover: lightseagreen;
  --light: #f7f7f6;
  --light-alt: #817f87;
  --dark: #2b2a33;
  --dark-alt: #42414d;
}

:root {
  --text-color: var(--dark);
  --text-color-alt: var(--dark-alt);
  --bg-color: var(--light);
  --bg-color-alt: var(--light-alt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light);
    --text-color-alt: var(--light-alt);
    --bg-color: var(--dark);
    --bg-color-alt: var(--dark-alt);
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.jp {
  font-family: 'BIZ UDPGothic';
}